:root {
    --clr-primary-magenta-dark: hsl(300, 43%, 22%);
    --clr-primary-pink: hsl(333, 80%, 67%);

    --clr-neutral-magenta-grey-dark: hsl(303, 10%, 53%);
    --clr-neutral-magenta-grey-light: hsl(300, 24%, 96%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --ff:  'League Spartan', sans-serif;

    --fs-xs: 0.7rem;
    /* --fs-s: 0.9375rem; */
    --fs-s: 1rem;
    --fs-m: 1.1em;
    --fs-l: 2.5rem;
    --fs-xl: 3.5rem;

    --fw-s: 400;
    --fw-m: 500;
    --fw-l: 700;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: var(--ff);
    font-size: var(--fs-m);
    color: var(--clr-neutral-magenta-grey-dark);
    text-align: center;
    padding: 5rem 1.45rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main {
    margin: auto;
}

h1 {
    font-size: var(--fs-l);
    font-weight: var(--fw-l);
    letter-spacing: -0.04em;
    line-height: 0.8em;
}

h1, h2 {
    color: var(--clr-primary-magenta-dark);
}

section> p {
    padding: 1.25em 0 2em;
    line-height: 1.5em;
    font-weight: var(--fw-m);
}

.rates {
    background-color: var(--clr-neutral-magenta-grey-light);
    border-radius: 0.5em;
    margin-bottom: 1rem;
    padding: 1.25rem 0;
    font-size: var(--fs-xs);
}

.stars {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.rates:last-child {
    margin-bottom: 3rem;
}

.card {
    background-color: var(--clr-primary-magenta-dark);
    color: var(--clr-neutral-magenta-grey-light);
    margin: 1rem 0;
    border-radius: 0.5em;
    padding: 2.6em 2em;
    font-size: var(--fs-s);
    font-weight: var(--fw-m);
}

.buyers {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 1em;
}

.avatar {
    border-radius: 50%;
    width: 2.5rem;
}

.card> p {
    line-height: 1.4;
    text-align: left;
}

h4 {
    color: var(--clr-primary-pink);
    line-height: 1.6em;
    text-align: left;
    font-weight: var(--fw-s);
}

.attribution { 
    font-size: var(--fs-xs); 
    margin-bottom: 0.5em;
}

.attribution a {
    color: var(--clr-primary-magenta-dark); 
}

a:hover {
    color: var(--clr-primary-pink);
    transition-duration: 0.5s;
}

@media (min-width: 700px) {
    body {
        padding: 0 2rem;
    }
    main {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        max-width: 1110px;
        align-items: center;
        margin: auto;
    }
    .quotes {
        display: flex;
        grid-column: -3 / -1;
        grid-row: 2 / 3;
        gap: 1.85rem;
        height: 90%;
        align-items: center;

    }
    .rating {
        margin-left: calc(1.5rem + 2vw);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rates {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding-left: 2rem;
        padding-right: 1rem;
        width: 90%;
    }
    .one {
        align-self: flex-start;
    }
    .three {
        align-self: flex-end;
    }
    .stars {
        padding-bottom: 0;
    }
    .rates:last-child {
        margin-bottom: 0;
    }
  
    h1{
        font-size: var(--fs-xl);
    }
    h1, p {
        text-align: left;
    }
}